<%- include('partials/header') %>

<div class="sidebar">
  <header>
    <img src="/public/logo.jpeg" alt="부잣집 로고" class="logo">
  </header>
  <nav>
    <ul>
      <li><a href="/" class="<%= activePage === 'home' ? 'active' : '' %>">Home</a></li>
      <li><a href="/about" class="<%= activePage === 'about' ? 'active' : '' %>">About</a></li>
      <li><a href="/order" class="<%= activePage === 'order' ? 'active' : '' %>">Order</a></li>
    </ul>
  </nav>
  <footer class="footer">
    <button class="login-button">Sign in</button>
    <span style="margin-top:1rem;">&copy; 2025 Bujajjib<br>All Rights Reserved.</span>
  </footer>
</div>

<main>
  <div class="main-center">
    <h1 class="main-title">Bujajjib</h1>
    <p class="main-subtitle">SINCE 2008<br>THE RICH TABLE</p>
  </div>
</main>

<%- include('partials/footer') %> 